/* GERAL */

html{
    height: 100%;
}

footer, body, main, ul, li{
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: grid;
    grid-template-columns: 0.5fr 9fr 0.5fr;
}

header{
    grid-column: 1/4;
}

footer{
    grid-column: 1/4;
}

main{
    grid-column: 2;
}


/* HEADER */

header a{
    text-decoration: none;
    color: black;
}

.menu li{
    list-style: none;
}

.menu{
    background-color: rgb(212, 212, 212);
    display: grid;
    grid-template-columns: 1fr 1fr 1.2fr 1fr 1fr;
    column-gap: 0px;
    row-gap: 10px;
    padding:  10px 65px;
    align-items: center;
    padding-bottom: 20px;
}

.mItem{
    justify-self: center;
    font-size: medium;
    font-weight: lighter;
}

.bar{
    grid-column: 1/6;
    grid-row: 2;
    height: 1px;
    background-color: black;
    margin-bottom: 10px;
}

#m1{
    grid-column: 1;
    grid-row: 1;
}

#m2{
    grid-column: 2;
    grid-row: 1;
}

#m3{
    grid-column: 3;
    grid-row: 1;
}

#m4 button{
    grid-column: 4;
    grid-row: 1;
    background-color: white;
    padding: 4px 55px;
    border-radius: 20px;
    border: 2px solid black;
    font-weight: bold;
}

#m5 button{
    grid-column: 5;
    grid-row: 1;
    background-color: rgb(166, 93, 235);
    padding: 6px 40px;
    border-radius: 20px;
    border: none;
    font-weight: bold;
    color: white;
}

#m3:hover, #m4:hover, #m5:hover{
    transform: scale(1.05);
}

#m6{
    grid-column: 2;
    grid-row: 3;
}

#m7{
    grid-column: 3;
    grid-row: 3;
}

#m8{
    grid-column: 4;
    grid-row: 3;
}
